.uploadButton {
    visibility: hidden;
}

.labelUpload {
    margin-left:15%;
    /*height: 10%;*/
    width: 70%;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #3f51b5;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(195, 192, 192, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #3f51b5;;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.toastCard{
    border: solid 1px #000000;
    background-color: #3f51b5;
    border-radius: 4px;
}
.card{
    margin-top: 30%;
}


